fastapi==0.115.4
uvicorn[standard]==0.30.6
pydantic==2.9.2
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3

qdrant-client==1.12.1
insightface==0.7.3
onnxruntime==1.19.2
opencv-python-headless==4.10.0.84
numpy==2.1.2
Pillow==10.4.0

redis==5.1.1
apscheduler==3.10.4
pandas==2.2.3
openpyxl==3.1.5
python-multipart==0.0.9
